.navbar{
    display: flex;
    position: relative;
    background-color: #000000 !important;
    .navbar-img{
        height: 5.625rem;
        margin-right: 9.375rem;
    }
    .fas{
        color: #FFFFFF;
    }

    .test{
    display: flex;
    flex-direction: row;
    }

    i{
        margin-left: 1.25rem;
    }

    .navbar-search{
       width: 31.25rem;
       @media screen and (max-width: 1000px){
           display: none;
       }
    }
}


.sidenav{    
    & a{
        color: #FFF;
        text-decoration: none;
    }

    padding-top: 3.125rem;
    position: relative;
    

    .sidenav_prim{
        font-size: 1.5rem;
    }

    .sidenav_secu{
        font-size: 1.25rem;
        padding-left: 1.25rem;
    }

    .sidenav-button{
        position: relative;
        top: 31.25rem;
        left: 3.75rem;
        background-color: #FFFFFF;
        border-style: none;
        padding: 0.625rem 1.25rem 0.625rem 1.25rem
    }

    @media screen and (max-width: 1000px) {
        display: none;
    }

}

    a:hover {
        color: #E50914;
    }
    #active{
        color: #E50914;
    }
    .sidenav-button:hover{
        background-color: #E50914;
        color: #FFFFFF;
    }

    .navbar-toggler{
        background-color: #2b2d2f !important;
    }
    .nav-link{
        color: white !important;
        font-family: 'poppins' !important;
    }

    .nav-resp{
        display: none;
        font-size: 1.5rem;
        color: #ffffff;

        @media screen and (max-width: 1000px) {
            display: inline;
            
        }
    }