$colorW: #fff;
$colorB: #000;
$colorSidebar: #211f1f;
$colorRed1: #e50914;
$colorOrange: #ffa00a;
$colorBlue1: #0d3c73;
$colorBlue2: #549494;
$colorGreen: #55bc7d;
$colorGrey: #707070;
.film1 .dropdown {
  margin-left: 39px;
}
.series {
  margin-top: 77px;
  &__h2-series {
    color: $colorW;
    font-size: 28px;
    font-weight: 800;
  }
  &__h2-series::after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid $colorRed1;
  }
}
.movies {
  margin-top: 77px;
  &__h2-movies {
    color: $colorW;
    font-size: 28px;
    font-weight: 800;
  }
  &__h2-movies::after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid $colorRed1;
  }
}
.series-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  position: relative;
  &__1{
      margin-left: 0;
  }
  &__2,&__3,&__4,&__5{
    margin-left: 0px !important;
    margin-left: 36px;
  }
  &__pijl {
    color: $colorRed1;
    font-size: 42px;
    vertical-align: middle;
    margin: auto;
    margin-left: 150px;
  }
  &__plus {
    color: $colorRed1;
    font-size: 42px;
    vertical-align: middle;
    margin: auto;
    position: absolute;
    top: 44.5%;
    margin-left: -5%;
    bottom: 44.5%;
  }
}
.movies-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  position: relative;
  &__1{
    margin-left: 0;
    }
    &__2,&__3,&__4,&__5{
      margin-left: 0px !important;
      margin-left: 36px;
    }
    &__pijl {
      color: $colorRed1;
      font-size: 80px;
      vertical-align: middle;
      margin: auto;
      margin-left: 150px;
    }
    
    &__plus {
      color: $colorRed1;
      font-size: 42px;
      vertical-align: middle;
      margin: auto;
      position: absolute;
      top: 44.5%;
      margin-left: -5%;
      bottom: 44.5%;
    }
}

