$color-white: #fff;
$color-green: #0FBF61;
$color-green--transparent: rgba($color-green, .2);
$color-darkblue: #151D41;
$color-grey--dark: #686868;
$color-grey--light: #EEF0F9;
$color-red: #b30000;

$primary: $color-green;
$secondary: $color-white;

$font-regular: 'Poppins', sans-serif;
$font-title: 'Poppins', sans-serif;

$border-radius: .5rem;

$btn-border-radius: $border-radius;
$btn-font-size: 2.5rem;
$btn-font-weight: 400;
$btn-padding-y: 2rem;
$btn-padding-x: 6.8rem;
$btn-border-width: .2rem;

$input-height: 90px;
$input-border-width: .1rem;
$input-color: $color-darkblue;
$input-border-color: $color-darkblue;
$input-border-radius: .5rem;
$input-placeholder-color: $color-darkblue;
$input-font-size: 1.8rem;
$label-margin-bottom: 0;
$input-font-weight: 400;
$input-padding-y: 2.5rem;
$input-padding-x: 2.5rem;
$form-group-margin-bottom: 5rem;

$blokjes: repeating-linear-gradient(to bottom, transparent, transparent .6rem, $color-white .6rem, $color-white 1.7rem),
repeating-linear-gradient(to right, $color-green, $color-green .6rem, $color-white .6rem, $color-white 2.2rem);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1688px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1488px
);