$colorW: #fff;
$colorB: #000;
$colorSidebar: #211f1f;
$colorRed1: #e50914;
$colorOrange: #ffa00a;
$colorBlue1: #0d3c73;
$colorBlue2: #549494;
$colorGreen: #55bc7d;
$colorGrey: #707070;

.form-control {
  border-radius: 0 !important;
  &__red::placeholder {
    color: $colorW !important;
    background-color: $colorRed1 !important;
    border: none !important;
  }
}
.input-group {
  height: 4rem;
  input {
    height: 4rem !important;
  }
}
.input-group-text{
  padding: 0.5rem 1.5rem !important;
}
.input-group-prepend,
.input-group-apend,
.input-group-text {
  span {
    background-color: $colorRed1;
    border: none;
  }
  border: none !important;
  border-radius: 0 !important;
}

.br input {
  border: none;
  border-right: 0.15rem solid $colorRed1;
}

.bl input {
  border: none;
  border-left: 0.15rem solid $colorW;
}
