$colorW: #fff;
$colorB: #000;
$colorSidebar: #211f1f;
$colorRed1: #e50914;
$colorOrange: #ffa00a;
$colorBlue1: #0d3c73;
$colorBlue2: #549494;
$colorGreen: #55bc7d;
$colorGrey: #707070;

.form-control {
  border-radius: 0 !important;
  &__red::placeholder {
    color: $colorW !important;
    background-color: $colorRed1 !important;
    border: none !important;
  }
}
.input-group {
  height: 4rem;
  input {
    height: 4rem !important;
  }
}
.input-group-text{
  padding: 0.5rem 1.5rem !important;
}
.input-group-prepend,
.input-group-apend,
.input-group-text {
  cursor: pointer;
  span {
    background-color: $colorRed1;
    border: none;
  }
  border: none !important;
  border-radius: 0 !important;
}

.br input {
  border: none;
  border-right: 0.15rem solid $colorRed1;
}

.bl input {
  border: none;
  border-left: 0.15rem solid $colorW;
}
.btn{
  color: $colorB;
  &btn__white{
    background-color: $colorW !important;
  }
}
table>thead>tr>th{
  border-top:none !important;
}
table>tbody,thead>tr>th,td:not(:nth-last-of-type(1)){
  width: 11.6666666% !important;
  text-align: center;
}
.page-link{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;    
  box-sizing: border-box; 
  color: $colorW !important;
  background-color: transparent !important;
  border: none !important;
  &__active{
    color: $colorRed1 !important;
  }
}
.page-link:hover{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;    
  box-sizing: border-box; 
  border-bottom: 1px solid $colorRed1 !important;
  border-top: 1px solid $colorRed1 !important;
}
.fa-pen{
  color: $colorOrange;
}
.fa-times{
  color: $colorRed1;
}
tr:first-child{
  border-bottom: 1px solid $colorOrange !important;
}
tr:hover{
  td{
    background-color: $colorGrey !important;
    border-bottom: 1px solid $colorOrange !important;
    color: $colorW !important;
  }
}
.border-r{
  border-color: $colorRed1 !important;
}
