$color1: #FFA00A;
$color2: #0D3C73;
$color3: #40CD9E;
$color4: #E50914;
$color5: #707070;
$color-red:#E50914;
$colorinputwidth: 28px;

body{
    font-family: 'Poppins', sans-serif;
}
.input-group {
  height: 59px;
}
.film1 .dropdown {
    margin-left: 39px;
    // margin-top: auto;
    margin-bottom: auto;
}
.film1{
    &__h1-recent{
      color: white;
      font-size: 38px;
      font-weight: 800;
    }
    display: flex;
    flex-direction: row;
    .dropdown{
      margin-left: 39px;
    }
    //(scss)content en override is hier gebruikt geweest voor recent e filteritem
}
.dropdown {
    position: relative;
    display: inline-block;
    padding-right: 15px;
    &__content{
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 181px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      a{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      a:hover{
        background-color: #ddd;
      }
    }
    :hover > &__content{
      display: block;
    }
}
.dropdown:hover .dropbtn {background-color: darkred;}
.dropbtn {
    background-color: red;
    color: white;
    width: 181px;
    height: 48px;
    font-size: 16px;
    border: none;
    .fa-caret-down{
      margin-right: 10%;
      float: right;
    }
    .filteritem{
      margin-left: 15px;
      float: left;
      color: white;
      text-decoration: none;
    }
}

.c-form {
    justify-content: center;
    align-content: center;
  
  
    &__input {
      transition: all 0.5s;
      // border: 1px solid #707070;
      &:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid red;
      
      }
      &::placeholder{
      color: transparent;
      }
      & ~ .c-form__label{
        transition: all 0.2s;
      }
      &:not(:placeholder-shown){
        & ~ .c-form__label{
          //font-size: 1.2rem;
          font-size: 0.8rem;
          line-height: 1.5;
        }
      }
    }
    &__group{
    position: relative;  
    width: 776px;
    margin-bottom: 37px;
    @media only screen and (max-width: 1000px){
    width: 100%;
    max-width: 100%;
  }
    }
    &__group-omschrijving{
      position: relative;  
      width: 776px;
      margin-bottom: 37px;
      height: 177px;
      @media only screen and (max-width: 1000px){
      width: 100%;
      max-width: 100%;
    }
    }
    &__label{
    position: absolute;
    top: 0;
    left: 6px;
    line-height: 2.2;
    color: black;
    cursor: text;
    font-weight: 300;
    font-size: 25px;
    pointer-events: none; 
    }
    &__label-trailer{
      // line-height: 8 !important;
    }
    &__input{
    height: 59px;
    border-radius: 0px;
    margin: auto;
    display: block; 
    }
    &__input-omschrijving{
    height: 177px;
    min-height: 177px;
    line-height: 2.5;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    }
    
}
.input-group input {
  height: 59px !important;
}
.input-group-addon.titel {
    background-color: $color1;
    // border: 1px solid #707070;
    border: none;
    width: $colorinputwidth;


}
.input-group-addon.aflevering {
    background-color: $color2;
    // border: 1px solid #707070;
    border: none;
    width: $colorinputwidth;
}
.input-group-addon.seizoen {
    background-color: $color3;
    // border: 1px solid #707070;
    border: none;
    width: $colorinputwidth;
}
.input-group-addon.categorie {
    background-color: $color4;
    // border: 1px solid #707070;
    border: none;
    width: $colorinputwidth;
}
.input-group-addon.omschrijving {
    background-color: $color5;
    // border: 1px solid #707070;
    border: none;
    width: $colorinputwidth;
}
.input-group-addon.speelduur{
  background-color: yellow;
  border: none;
  width: $colorinputwidth;
}
.o-button{
    color: white;
    background-color: red;
    border: none;
    height: 73px;
    font-size: 20px;
    width: 776px;
    margin-left: 0;
    transition: ease-out 0.6s;
    border: 1px solid black;
    &:hover{
      transition: ease-in 0.6s;
      border: 1px solid white;
      background-color: darkred;
      color: white;
    }
    @media only screen and (max-width: 1000px){
      width: 100%;
      max-width: 100%;
      margin-bottom: 50px;
    }
    &__submit{
        background-color: red;
    }
}
.cover-uploaden{
  width: 452px;
  max-width: 452px;
  height: 671px;
  border: 1px solid red;
  image-rendering: auto;
  position: relative;
  margin: auto;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  @media only screen and (max-width: 1000px){
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
  }
}
.cover-uploaden-div{
  position: absolute;
  bottom: 0;
  left: 5;
  color: white;
  background-color: red;
  height: 73px;
  width: 452px;
  //border: none;
  border: 1px solid red;
  transition: ease-out 0.6s;
  &:hover{
    background-color: darkred;
    color: white;
    transition: ease-in 0.6s;
    border: 1px solid white;
  }
  @media only screen and (max-width: 1000px){
    width: 100%;
    max-width: 100%;
  }
}
.row-cform{
  &__eerstedeel{
    // padding: 0;
  }
  &__tweededeel{
    padding: 0;
    height: 671px;
    margin-left: -3.7%;
    @media only screen and (max-width: 1420px){
      margin-left: 15%;
      height: auto;
      max-width: 70%;
      margin-top: 5%;
  } 
  }
@media only screen and (max-width: 1420px){
    display: flex;
    flex-direction: column;
}   
}
.series-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  list-style: none;
  position: relative;
  padding-left: 0;
  @media only screen and (max-width: 1690px) {
    display: flex;
    margin: auto;
    text-align: center;
  }​​​​​
  &__1{
    margin-left: 0 !important;
  }
  .li-container{
    margin-right: 62px;
    list-style: none;
  }
  
}
ul{
  list-style: none;
  padding: 0;
}
main{
  margin-left: 58px;
  @media only screen and (max-width: 1000px) {
    margin-left: 0;
    margin: auto;
  }
  
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  transition: ease-out 0.6s;
  background-color: red;
  display: inline-block;
  padding-top: 20px;
  font-size: 20px;
  border: 1px solid black;
  height: 73px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  cursor: pointer;
  &:hover{
    transition: ease-in 1s;
    background-color: darkred;
    color: white;
    border: 1px solid white;
  }
}
.wijzigitem {
  margin-top: 77px;
  &__h2-wijzig {
    color: white;
    font-size: 28px;
    font-weight: 800;
    @media only screen and (max-width: 1400px) {
      display: flex;
      flex-direction: column;
    }

  }
  &__h2-wijzig::after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 77%;
    max-width: 100%;
    // width: 107.5rem;
    margin-right: -100%;
    margin-left: 10px;
    margin-top: 10px;
    border-top: 1px solid red;
    @media only screen and (max-width: 1400px) {
      margin-left: 0px;
      width: 100%;
    }
    /* @media only screen and (max-width: 1400px) {
      width: 50%;
    } */
  }
}
//wijzigitem{}