@charset "UTF-8";
body {
  font-family: 'Poppins', sans-serif;
}

.input-group {
  height: 59px;
}

.film1 .dropdown {
  margin-left: 39px;
  margin-bottom: auto;
}

.film1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.film1__h1-recent {
  color: white;
  font-size: 38px;
  font-weight: 800;
}

.film1 .dropdown {
  margin-left: 39px;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-right: 15px;
}

.dropdown__content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 181px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown__content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown__content a:hover {
  background-color: #ddd;
}

:hover > .dropdown__content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: darkred;
}

.dropbtn {
  background-color: red;
  color: white;
  width: 181px;
  height: 48px;
  font-size: 16px;
  border: none;
}

.dropbtn .fa-caret-down {
  margin-right: 10%;
  float: right;
}

.dropbtn .filteritem {
  margin-left: 15px;
  float: left;
  color: white;
  text-decoration: none;
}

.c-form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.c-form__input {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.c-form__input:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid red;
}

.c-form__input::-webkit-input-placeholder {
  color: transparent;
}

.c-form__input:-ms-input-placeholder {
  color: transparent;
}

.c-form__input::-ms-input-placeholder {
  color: transparent;
}

.c-form__input::placeholder {
  color: transparent;
}

.c-form__input ~ .c-form__label {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.c-form__input:not(:placeholder-shown) ~ .c-form__label {
  font-size: 0.8rem;
  line-height: 1.5;
}

.c-form__group {
  position: relative;
  width: 776px;
  margin-bottom: 37px;
}

@media only screen and (max-width: 1000px) {
  .c-form__group {
    width: 100%;
    max-width: 100%;
  }
}

.c-form__group-omschrijving {
  position: relative;
  width: 776px;
  margin-bottom: 37px;
  height: 177px;
}

@media only screen and (max-width: 1000px) {
  .c-form__group-omschrijving {
    width: 100%;
    max-width: 100%;
  }
}

.c-form__label {
  position: absolute;
  top: 0;
  left: 6px;
  line-height: 2.2;
  color: black;
  cursor: text;
  font-weight: 300;
  font-size: 25px;
  pointer-events: none;
}

.c-form__input {
  height: 59px;
  border-radius: 0px;
  margin: auto;
  display: block;
}

.c-form__input-omschrijving {
  height: 177px;
  min-height: 177px;
  line-height: 2.5;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
}

.input-group input {
  height: 59px !important;
}

.input-group-addon.titel {
  background-color: #FFA00A;
  border: none;
  width: 28px;
}

.input-group-addon.aflevering {
  background-color: #0D3C73;
  border: none;
  width: 28px;
}

.input-group-addon.seizoen {
  background-color: #40CD9E;
  border: none;
  width: 28px;
}

.input-group-addon.categorie {
  background-color: #E50914;
  border: none;
  width: 28px;
}

.input-group-addon.omschrijving {
  background-color: #707070;
  border: none;
  width: 28px;
}

.input-group-addon.speelduur {
  background-color: yellow;
  border: none;
  width: 28px;
}

.o-button {
  color: white;
  background-color: red;
  border: none;
  height: 73px;
  font-size: 20px;
  width: 776px;
  margin-left: 0;
  -webkit-transition: ease-out 0.6s;
  transition: ease-out 0.6s;
  border: 1px solid black;
}

.o-button:hover {
  -webkit-transition: ease-in 0.6s;
  transition: ease-in 0.6s;
  border: 1px solid white;
  background-color: darkred;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .o-button {
    width: 100%;
    max-width: 100%;
    margin-bottom: 50px;
  }
}

.o-button__submit {
  background-color: red;
}

.cover-uploaden {
  width: 452px;
  max-width: 452px;
  height: 671px;
  border: 1px solid red;
  image-rendering: auto;
  position: relative;
  margin: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1000px) {
  .cover-uploaden {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
  }
}

.cover-uploaden-div {
  position: absolute;
  bottom: 0;
  left: 5;
  color: white;
  background-color: red;
  height: 73px;
  width: 452px;
  border: 1px solid red;
  -webkit-transition: ease-out 0.6s;
  transition: ease-out 0.6s;
}

.cover-uploaden-div:hover {
  background-color: darkred;
  color: white;
  -webkit-transition: ease-in 0.6s;
  transition: ease-in 0.6s;
  border: 1px solid white;
}

@media only screen and (max-width: 1000px) {
  .cover-uploaden-div {
    width: 100%;
    max-width: 100%;
  }
}

.row-cform__tweededeel {
  padding: 0;
  height: 671px;
  margin-left: -3.7%;
}

@media only screen and (max-width: 1420px) {
  .row-cform__tweededeel {
    margin-left: 15%;
    height: auto;
    max-width: 70%;
    margin-top: 5%;
  }
}

@media only screen and (max-width: 1420px) {
  .row-cform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.series-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  position: relative;
  padding-left: 0;
}

@media only screen and (max-width: 1690px) {
  .series-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    text-align: center;
  }
}

​​​​​
.series-list__1 {
  margin-left: 0 !important;
}

.series-list .li-container {
  margin-right: 62px;
  list-style: none;
}

ul {
  list-style: none;
  padding: 0;
}

main {
  margin-left: 58px;
}

@media only screen and (max-width: 1000px) {
  main {
    margin-left: 0;
    margin: auto;
  }
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  -webkit-transition: ease-out 0.6s;
  transition: ease-out 0.6s;
  background-color: red;
  display: inline-block;
  padding-top: 20px;
  font-size: 20px;
  border: 1px solid black;
  height: 73px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.custom-file-upload:hover {
  -webkit-transition: ease-in 1s;
  transition: ease-in 1s;
  background-color: darkred;
  color: white;
  border: 1px solid white;
}

.wijzigitem {
  margin-top: 77px;
}

.wijzigitem__h2-wijzig {
  color: white;
  font-size: 28px;
  font-weight: 800;
}

@media only screen and (max-width: 1400px) {
  .wijzigitem__h2-wijzig {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.wijzigitem__h2-wijzig::after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 77%;
  max-width: 100%;
  margin-right: -100%;
  margin-left: 10px;
  margin-top: 10px;
  border-top: 1px solid red;
  /* @media only screen and (max-width: 1400px) {
      width: 50%;
    } */
}

@media only screen and (max-width: 1400px) {
  .wijzigitem__h2-wijzig::after {
    margin-left: 0px;
    width: 100%;
  }
}
/*# sourceMappingURL=form-detail.css.map */