html,
body {
  height: 100%;
  width: auto;
  background-color: #000;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sidenav {
  width: 100%;
  z-index: 1;
  background-color: #211f1f;
  min-width: 110px !important;
}

.sidenav a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.navbar {
  width: 100%;
  background-color: #000;
}

.navbar-brand {
  color: #e50914 !important;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  background-color: #000 !important;
  color: #fff;
}

.footer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
}

.form-control {
  border-radius: 0 !important;
}

.form-control__red::-webkit-input-placeholder {
  color: #fff !important;
  background-color: #e50914 !important;
  border: none !important;
}

.form-control__red:-ms-input-placeholder {
  color: #fff !important;
  background-color: #e50914 !important;
  border: none !important;
}

.form-control__red::-ms-input-placeholder {
  color: #fff !important;
  background-color: #e50914 !important;
  border: none !important;
}

.form-control__red::placeholder {
  color: #fff !important;
  background-color: #e50914 !important;
  border: none !important;
}

.input-group {
  height: 4rem;
}

.input-group input {
  height: 4rem !important;
}

.input-group-text {
  padding: 0.5rem 1.5rem !important;
}

.input-group-prepend,
.input-group-apend,
.input-group-text {
  cursor: pointer;
  border: none !important;
  border-radius: 0 !important;
}

.input-group-prepend span,
.input-group-apend span,
.input-group-text span {
  background-color: #e50914;
  border: none;
}

.br input {
  border: none;
  border-right: 0.15rem solid #e50914;
}

.bl input {
  border: none;
  border-left: 0.15rem solid #fff;
}

.btn {
  color: #000;
}

.btnbtn__white {
  background-color: #fff !important;
}

table > thead > tr > th {
  border-top: none !important;
}

table > tbody, thead > tr > th, td:not(:nth-last-of-type(1)) {
  width: 11.6666666% !important;
  text-align: center;
}

.page-link {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff !important;
  background-color: transparent !important;
  border: none !important;
}

.page-link__active {
  color: #e50914 !important;
}

.page-link:hover {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #e50914 !important;
  border-top: 1px solid #e50914 !important;
}

.fa-pen {
  color: #ffa00a;
}

.fa-times {
  color: #e50914;
}

tr:first-child {
  border-bottom: 1px solid #ffa00a !important;
}

tr:hover td {
  background-color: #707070 !important;
  border-bottom: 1px solid #ffa00a !important;
  color: #fff !important;
}

.border-r {
  border-color: #e50914 !important;
}

.film1 .dropdown {
  margin-left: 39px;
}

.series {
  margin-top: 77px;
}

.series__h2-series {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

.series__h2-series::after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 100%;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 1px solid #e50914;
}

.movies {
  margin-top: 77px;
}

.movies__h2-movies {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

.movies__h2-movies::after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 100%;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 1px solid #e50914;
}

.series-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style: none;
  position: relative;
}

.series-list__1 {
  margin-left: 0;
}

.series-list__2, .series-list__3, .series-list__4, .series-list__5 {
  margin-left: 0px !important;
  margin-left: 36px;
}

.series-list__pijl {
  color: #e50914;
  font-size: 42px;
  vertical-align: middle;
  margin: auto;
  margin-left: 150px;
}

.series-list__plus {
  color: #e50914;
  font-size: 42px;
  vertical-align: middle;
  margin: auto;
  position: absolute;
  top: 44.5%;
  margin-left: -5%;
  bottom: 44.5%;
}

.movies-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style: none;
  position: relative;
}

.movies-list__1 {
  margin-left: 0;
}

.movies-list__2, .movies-list__3, .movies-list__4, .movies-list__5 {
  margin-left: 0px !important;
  margin-left: 36px;
}

.movies-list__pijl {
  color: #e50914;
  font-size: 80px;
  vertical-align: middle;
  margin: auto;
  margin-left: 150px;
}

.movies-list__plus {
  color: #e50914;
  font-size: 42px;
  vertical-align: middle;
  margin: auto;
  position: absolute;
  top: 44.5%;
  margin-left: -5%;
  bottom: 44.5%;
}
/*# sourceMappingURL=main.css.map */