@charset "UTF-8";
html,
body {
  height: 100%;
  width: auto;
  background-color: #000;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sidenav {
  width: 100%;
  z-index: 1;
  background-color: #211f1f;
  min-width: 110px !important;
}

.sidenav a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.navbar {
  width: 100%;
  background-color: #000;
}

.navbar-brand {
  color: #e50914 !important;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  background-color: #000 !important;
  color: #fff;
}

.footer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
}

.form-control {
  border-radius: 0 !important;
}

.form-control__red::-webkit-input-placeholder {
  color: #fff !important;
  background-color: #e50914 !important;
  border: none !important;
}

.form-control__red:-ms-input-placeholder {
  color: #fff !important;
  background-color: #e50914 !important;
  border: none !important;
}

.form-control__red::-ms-input-placeholder {
  color: #fff !important;
  background-color: #e50914 !important;
  border: none !important;
}

.form-control__red::placeholder {
  color: #fff !important;
  background-color: #e50914 !important;
  border: none !important;
}

.input-group {
  height: 4rem;
}

.input-group input {
  height: 4rem !important;
}

.input-group-text {
  padding: 0.5rem 1.5rem !important;
}

.input-group-prepend,
.input-group-apend,
.input-group-text {
  cursor: pointer;
  border: none !important;
  border-radius: 0 !important;
}

.input-group-prepend span,
.input-group-apend span,
.input-group-text span {
  background-color: #e50914;
  border: none;
}

.br input {
  border: none;
  border-right: 0.15rem solid #e50914;
}

.bl input {
  border: none;
  border-left: 0.15rem solid #fff;
}

.btn {
  color: #000;
}

.btnbtn__white {
  background-color: #fff !important;
}

table > thead > tr > th {
  border-top: none !important;
}

table > tbody, thead > tr > th, td:not(:nth-last-of-type(1)) {
  width: 11.6666666% !important;
  text-align: center;
}

.page-link {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff !important;
  background-color: transparent !important;
  border: none !important;
}

.page-link__active {
  color: #e50914 !important;
}

.page-link:hover {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #e50914 !important;
  border-top: 1px solid #e50914 !important;
}

.fa-pen {
  color: #ffa00a;
}

.fa-times {
  color: #e50914;
}

tr:first-child {
  border-bottom: 1px solid #ffa00a !important;
}

tr:hover td {
  background-color: #707070 !important;
  border-bottom: 1px solid #ffa00a !important;
  color: #fff !important;
}

.border-r {
  border-color: #e50914 !important;
}

body {
  font-family: 'Poppins', sans-serif;
}

.film1 .dropdown {
  margin-left: 39px;
}

.film1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.film1__h1-recent {
  color: white;
  font-size: 38px;
  font-weight: 800;
}

.film1 .dropdown {
  margin-left: 39px;
}

.series {
  margin-top: 77px;
}

.series__h2-series {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

.series__h2-series::after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 79%;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 1px solid #e50914;
}

.movies {
  margin-top: 77px;
}

.movies__h2-movies {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

.movies__h2-movies::after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 79.5%;
  max-width: 100%;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 1px solid #e50914;
}

.series-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style: none;
  position: relative;
  padding-left: 0;
}

@media only screen and (max-width: 1690px) {
  .series-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    text-align: center;
  }
  .series-list__plus {
    color: #e50914;
    font-size: 42px;
    vertical-align: middle;
    margin: auto;
    position: absolute;
    top: 44.5%;
    margin-left: -5%;
    bottom: 44.5%;
  }
}

​​​​​
.series-list__1 {
  margin-left: 0 !important;
}

.series-list__pijl {
  color: #e50914;
  font-size: 42px;
  vertical-align: middle;
  margin: auto;
}

.series-list__pijl:hover {
  color: white;
}

@media only screen and (max-width: 700px) {
  .series-list__pijl {
    display: none;
  }
}

.series-list__plus {
  color: #e50914;
  font-size: 42px;
  vertical-align: middle;
  margin: auto;
  position: absolute;
  top: 44.5%;
  margin-left: -5%;
  bottom: 44.5%;
}

.series-list__plus:hover {
  color: white;
}

@media only screen and (max-width: 1690px) {
  .series-list__plus {
    top: -7%;
  }
}

@media only screen and (max-width: 700px) {
  .series-list__plus {
    top: -3%;
    margin-left: -20%;
  }
}

.movies-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style: none;
  position: relative;
  padding-left: 0;
}

@media only screen and (max-width: 1690px) {
  .movies-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    text-align: center;
  }
  .movies-list__plus {
    color: #e50914;
    font-size: 42px;
    vertical-align: middle;
    margin: auto;
    position: absolute;
    top: 44.5%;
    margin-left: -5%;
    bottom: 44.5%;
  }
}

.movies-list__pijl {
  color: #e50914;
  font-size: 42px;
  vertical-align: middle;
  margin: auto;
}

.movies-list__pijl:hover {
  color: white;
}

@media only screen and (max-width: 700px) {
  .movies-list__pijl {
    display: none;
  }
}

.movies-list__plus {
  color: #e50914;
  font-size: 42px;
  vertical-align: middle;
  margin: auto;
  position: absolute;
  top: 44.5%;
  margin-left: -5%;
  bottom: 44.5%;
}


.movies-list__plus:hover {
  color: white;
}

@media only screen and (max-width: 1690px) {
  .movies-list__plus {
    top: -7%;
  }
}

@media only screen and (max-width: 700px) {
  .movies-list__plus {
    top: -3%;
    margin-left: -20%;
  }
}

.dropbtn {
  background-color: red;
  color: white;
  width: 181px;
  height: 48px;
  font-size: 16px;
  border: none;
}

.dropbtn .fa-caret-down {
  margin-right: 10%;
  float: right;
}

.dropbtn .filteritem {
  margin-left: -15%;
  color: white;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 181px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown__content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown__content a:hover {
  background-color: #ddd;
}

:hover > .dropdown__content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: darkred;
}

.li-container {
  position: relative;
  margin-left: 36px;
}

@media only screen and (max-width: 1690px) {
  .li-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    text-align: center;
    margin-left: 0 !important;
  }
}

.li-container1 {
  position: relative;
  margin-left: 0px;
}

@media only screen and (max-width: 1690px) {
  .li-container1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    text-align: center;
    margin-left: 0 !important;
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  width: 216,43px;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #910707;
  font-size: 20px;
  color: white;
}

.overlay p {
  font-size: 20px;
  color: white;
  margin-left: 22px;
  padding: 10px 0;
}

.li-container1:hover .overlay {
  opacity: 100;
}

.li-container:hover .overlay {
  opacity: 100;
}
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.navbar .navbar-img {
  height: 90px;
}

.navbar .fas {
  color: #FFFFFF;
}

.navbar .test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar .navbar-icons {
  position: absolute;
  left: 72vw;
}

.navbar i {
  margin-left: 20px;
}

.navbar .navbar-search {
  width: 500px;
}

.sidenav {
  padding-top: 50px;
  position: relative;
}

.sidenav .sidenav_prim {
  font-size: 24px;
}

.sidenav .sidenav_secu {
  font-size: 20px;
  padding-left: 45px;
}

.sidenav .sidenav-button {
  position: relative;
  top: 500px;
  left: 60px;
  background-color: #FFFFFF;
  border-style: none;
  padding: 10px 20px 10px 20px;
}
/*# sourceMappingURL=main.css.map */