$colorW: #fff;
$colorB: #000;
$colorSidebar: #211f1f;
$colorRed1: #e50914;
$colorOrange: #ffa00a;
$colorBlue1: #0d3c73;
$colorBlue2: #549494;
$colorGreen: #55bc7d;
$colorGrey: #707070;
html,
body {
  height: 100%;
  width: auto;
  background-color: $colorB;
}

body {
  display: flex;
  flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidenav {
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: $colorSidebar;
}

.sidenav a {
  color: $colorW;
  text-decoration: none;
  display: block;
}

.navbar {
  width: 100%;
  background-color: $colorB;
}

.navbar-brand {
  color: $colorRed1 !important;
}

.content {
  flex: 1 0 auto;
  background-color: $colorB !important;
  color: $colorW;
}

.footer {
  flex: 1 1;
}

.form-control {
  border-radius: 0 !important;
  &__red::placeholder {
    color: $colorW !important;
    background-color: $colorRed1 !important;
    border: none !important;
  }
}
.input-group {
  height: 4rem;
  input {
    height: 4rem !important;
  }
}
.input-group-prepend,
.input-group-apend,
.input-group-text {
  span {
    background-color: $colorRed1;
    border: none;
  }
  border: none !important;
  border-radius: 0 !important;
}

.br input {
  border: none;
  border-right: 0.15rem solid $colorRed1;
}

.bl input {
  border: none;
  border-left: 0.15rem solid $colorW;
}
.film1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
          &__h1-recent {
            color: white;
            font-size: 38px;
            font-weight: 800;
          }
}
.film1 .dropdown {
  margin-left: 39px;
}
.series {
  margin-top: 77px;
  &__h2-series {
    color: white;
    font-size: 28px;
    font-weight: 800;
  }
  &__h2-series::after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid red;
  }
}
.movies {
  margin-top: 77px;
  &__h2-movies {
    color: white;
    font-size: 28px;
    font-weight: 800;
  }
  &__h2-movies::after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid red;
  }
}
.series-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  position: relative;
  &__1{
      margin-left: 0;
  }
  &__2,&__3,&__4,&__5{
    margin-left: 0px !important;
    margin-left: 36px;
  }
  &__pijl {
    color: #E50914;
    font-size: 42px;
    vertical-align: middle;
    margin: auto;
    margin-left: 150px;
  }
  &__plus {
    color: #E50914;
    font-size: 42px;
    vertical-align: middle;
    margin: auto;
    position: absolute;
    top: 44.5%;
    margin-left: -5%;
    bottom: 44.5%;
  }
}
.movies-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  position: relative;
  &__1{
    margin-left: 0;
    }
    &__2,&__3,&__4,&__5{
      margin-left: 0px !important;
      margin-left: 36px;
    }
    &__pijl {
      color: #E50914;
      font-size: 80px;
      vertical-align: middle;
      margin: auto;
      margin-left: 150px;
    }
    
    &__plus {
      color: #E50914;
      font-size: 42px;
      vertical-align: middle;
      margin: auto;
      position: absolute;
      top: 44.5%;
      margin-left: -5%;
      bottom: 44.5%;
    }
}
@media (max-width: 767px) {
    
}
