$color-red: #E50914;
$color-grey: #707070;
$color-grey--dark: #211F1F;
$color-orange: #FFA00A;
$color-orange--dark: #BD7C15;
$color-blue: #0D3C73;
$color-blue--dark: #0B2B50;
$color-green: #55BC7D;
$color-green--dark: #469866;
$color-teal: #549494;
$color-teal-dark: #4D7E7E;
$color-cyan: #40CD9D;
$color-white: #FFF;
$color-black: #000;

$primary: $color-red;
$secundary: $color-grey;

$font-regular: 'Poppins', 'sans-serif';