@keyframes spin {
    0% { 
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
    90% { 
        transform: translate(-50%, -50%) rotate(1080deg) scale(1); 
    }
    100% { 
        transform: scale(0); 
    }
}

@keyframes success {
    from {
        transform: translate(-50%, -50%) rotate(0) scale(0);
        }
    to {
        transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
}

@keyframes error {
    from { 
        transform: translate(-50%, -50%) scale(0);
    }
    to { 
        transform: translate(-50%, -50%) scale(1);
        background-color: $color-red;
    }
}

@keyframes vibrate {
    0%, 30%, 60%, 85%, 100% { 
      left: 0;
      background-color: $color-red;
    }
    10%, 40%, 90%, 70% { 
      left: -2px;
      background-color: $color-red;
    }
    20%, 50%, 80%, 95% { 
      left: 2px;
      background-color: $color-red;
    }
}

$bars: (95:0.2s,90:0.8s,85:0.4s,80:1s,70:0.6s,65:1.2s);

@each $percentage, $delay in $bars {
    .animate.c-skill__bar--#{$percentage}::after {
        width: ($percentage * 1%);
        transition: width .3s $delay;
    }
}